In [1]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df=pd.read_csv('big_mart.csv')

In [3]:
df

,Id,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,2,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,3,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,4,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,5,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,8519,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8520,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,8521,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,8522,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,8523,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         8523 non-null   int64
 1   Item_Identifier            8523 non-null   object
 2   Item_Weight                7060 non-null   float64
 3   Item_Fat_Content           8523 non-null   object
 4   Item_Visibility            8523 non-null   float64
 5   Item_Type                  8523 non-null   object
 6   Item_MRP                   8523 non-null   float64
 7   Outlet_Identifier          8523 non-null   object
 8   Outlet_Establishment_Year  8523 non-null   int64
 9   Outlet_Size                6113 non-null   object
 10  Outlet_Location_Type       8523 non-null   object
 11  Outlet_Type                8523 non-null   object
 12  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 865.7+ KB

In [5]:
df.isnull().sum()

Id                              0
Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df['Item_Identifier'].unique()

array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
      dtype=object)

In [7]:
df['Item_Weight'].unique()

array([ 9.3  ,  5.92 , 17.5  , 19.2  ,  8.93 , 10.395, 13.65 ,    nan,
       16.2  , 11.8  , 18.5  , 15.1  , 17.6  , 16.35 ,  9.   , 13.35 ,
       18.85 , 14.6  , 13.85 , 13.   ,  7.645, 11.65 ,  5.925, 19.25 ,
       18.6  , 18.7  , 17.85 , 10.   ,  8.85 ,  9.8  , 13.6  , 21.35 ,
       12.15 ,  6.42 , 19.6  , 15.85 ,  7.39 , 10.195,  9.895, 10.895,
        7.905,  9.195,  8.365,  7.97 , 17.7  , 19.35 ,  8.645, 15.6  ,
       18.25 ,  7.855,  7.825,  8.39 , 12.85 , 19.   ,  5.905,  7.76 ,
       16.75 , 15.5  ,  6.055,  6.305, 20.85 , 20.75 ,  8.895, 19.7  ,
        8.75 , 13.3  ,  8.31 , 19.75 , 17.1  , 10.5  ,  6.635, 14.15 ,
        8.89 ,  9.1  ,  7.5  , 16.85 ,  7.485, 11.6  , 12.65 , 20.25 ,
        8.6  , 12.6  ,  8.88 , 20.5  , 13.5  ,  7.235,  6.92 ,  8.02 ,
       12.8  , 16.6  , 14.   , 16.   , 21.25 ,  7.365, 18.35 ,  5.465,
        7.27 ,  6.155, 19.5  , 15.2  , 14.5  , 13.1  , 12.3  , 11.1  ,
       11.3  ,  5.75 , 11.35 ,  6.525, 10.3  ,  5.78 , 11.85 , 18.75 ,
        5.26 , 16.1  ,  9.5  , 13.8  , 14.65 ,  6.67 ,  6.11 , 17.2  ,
        6.32 ,  4.88 ,  5.425, 14.1  ,  7.55 , 17.25 , 12.   , 10.1  ,
        7.785, 13.15 ,  8.5  ,  7.63 ,  9.285,  7.975, 15.7  ,  8.985,
       20.35 ,  6.59 , 19.85 ,  6.26 , 18.2  ,  8.695,  7.075,  8.195,
        7.09 ,  6.095,  6.15 ,  9.395, 15.75 ,  7.475,  6.445, 19.1  ,
       15.   , 16.7  ,  7.07 ,  6.48 ,  9.695, 11.15 ,  9.6  , 20.7  ,
        5.5  ,  7.895, 17.35 ,  7.285,  6.17 , 11.395,  7.71 , 12.1  ,
       14.35 ,  8.1  ,  8.05 , 16.5  ,  6.785,  7.575,  7.47 , 15.25 ,
        7.605, 18.   , 21.2  ,  8.97 , 10.6  ,  6.865, 10.8  , 15.15 ,
       18.1  ,  6.655, 20.1  ,  7.935, 15.35 , 12.35 ,  6.85 ,  8.775,
       14.85 ,  7.84 , 12.5  ,  8.325,  5.765,  5.985, 14.3  ,  6.135,
        8.51 ,  6.65 ,  5.695,  6.36 ,  8.3  ,  7.56 ,  8.71 ,  6.695,
       14.8  , 17.75 ,  8.575,  6.57 ,  8.68 ,  5.63 ,  9.13 ,  6.715,
        5.82 ,  7.93 ,  5.   ,  7.445,  6.675,  8.18 ,  6.98 ,  7.435,
       20.6  ,  8.355,  8.975, 20.2  ,  5.655,  5.175, 20.   ,  7.67 ,
        4.785,  8.395,  6.175,  8.21 ,  5.845,  7.17 ,  8.785,  7.89 ,
        5.32 ,  5.03 ,  8.945,  6.28 ,  7.565,  9.31 ,  7.02 ,  5.46 ,
        6.13 ,  6.55 , 17.   , 16.25 ,  5.15 ,  7.865,  6.575,  7.06 ,
        5.785,  7.42 ,  6.235,  6.75 ,  5.86 ,  5.035,  6.38 ,  5.675,
       11.5  , 21.   , 21.1  ,  4.61 ,  7.   ,  6.405, 14.7  ,  7.68 ,
        8.185,  8.655, 10.85 ,  8.42 ,  7.85 ,  4.59 ,  7.51 , 11.   ,
        6.71 , 14.75 ,  7.59 ,  5.155,  6.365,  8.235,  5.365,  8.485,
        7.535,  4.92 ,  6.385,  8.26 ,  7.945,  8.63 ,  9.21 ,  6.965,
        8.905,  7.21 ,  7.3  ,  9.27 , 10.695,  6.215,  7.405,  7.72 ,
        6.115,  6.035,  6.78 , 15.3  ,  7.105,  7.52 ,  4.805,  6.425,
        7.6  ,  6.61 ,  7.325,  8.115,  5.94 ,  5.635,  7.35 ,  5.825,
        6.63 ,  7.05 ,  8.315,  6.8  ,  7.035,  8.96 ,  5.51 ,  8.43 ,
        8.27 ,  7.81 ,  6.885,  5.44 ,  5.405,  4.635, 10.65 ,  5.735,
        6.465,  8.84 ,  7.75 ,  6.765,  9.065,  7.655,  4.615,  8.76 ,
        7.1  ,  6.195,  5.615,  8.52 ,  7.26 ,  6.825,  5.325,  5.59 ,
        5.88 ,  5.19 ,  6.985,  9.06 ,  6.69 ,  8.615,  7.275,  6.96 ,
        9.17 ,  8.155,  5.73 ,  8.935,  8.92 ,  7.36 ,  7.64 ,  5.34 ,
        7.22 ,  6.615,  6.76 ,  6.3  ,  5.98 ,  8.06 ,  6.44 ,  5.095,
        8.8  ,  6.325,  7.31 ,  9.035,  9.105,  7.145,  4.905,  4.555,
        8.   ,  7.315,  6.89 ,  5.945,  6.86 ,  6.935,  6.03 ,  7.725,
        5.885,  7.155,  6.46 ,  5.48 ,  8.01 ,  5.8  ,  5.305,  6.905,
        7.96 ,  5.11 ,  8.77 ,  7.685,  8.275,  8.38 ,  8.35 ,  9.42 ,
        6.775,  6.4  ,  6.895,  5.485,  6.52 ,  8.67 ,  5.21 ,  5.4  ])

In [8]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [9]:
df['Item_Visibility'].unique()

array([0.0160473 , 0.01927822, 0.01676007, ..., 0.03518627, 0.14522065,
       0.04487828])

In [10]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [11]:
df['Item_MRP'].unique()

array([249.8092,  48.2692, 141.618 , ...,  57.5904, 214.5218,  75.467 ])

In [12]:
df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [13]:
df['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004], dtype=int64)

In [14]:
df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [15]:
df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [16]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [17]:
df['Item_Outlet_Sales'].unique()

array([3735.138 ,  443.4228, 2097.27  , ..., 7182.6504, 3608.636 ,
       2778.3834])

In [18]:
df['Item_Weight'].fillna(df.Item_Weight.mean(),inplace=True)

In [19]:
df.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [20]:
df['Outlet_Size']=df['Outlet_Size'].fillna(df.Outlet_Size.value_counts().index[0])

In [21]:
df.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [ ]:
sns.barplot(x='StateHoliday', y='Sales', data=result)

In [22]:
df_cat=df[['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type','Outlet_Type']]

df_cat.head()

,Item_Fat_Content,Item_Type,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,Low Fat,Dairy,Medium,Tier 1,Supermarket Type1
1,Regular,Soft Drinks,Medium,Tier 3,Supermarket Type2
2,Low Fat,Meat,Medium,Tier 1,Supermarket Type1
3,Regular,Fruits and Vegetables,Medium,Tier 3,Grocery Store
4,Low Fat,Household,High,Tier 3,Supermarket Type1

In [23]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [24]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [25]:
df.loc[df['Item_Fat_Content']=='Low Fat', 'Item_Fat_Content'] = 1
df.loc[df['Item_Fat_Content']=='low fat', 'Item_Fat_Content'] = 1
df.loc[df['Item_Fat_Content']=='LF', 'Item_Fat_Content'] = 1
df.loc[df['Item_Fat_Content']=='Regular', 'Item_Fat_Content'] = 0
df.loc[df['Item_Fat_Content']=='reg', 'Item_Fat_Content'] = 0

In [26]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [27]:
df.loc[df['Item_Type']=='Dairy', 'Item_Type'] = 0
df.loc[df['Item_Type']=='Soft Drinks', 'Item_Type'] =1
df.loc[df['Item_Type']=='Meat', 'Item_Type'] =2
df.loc[df['Item_Type']=='Fruits and Vegetables', 'Item_Type'] =3
df.loc[df['Item_Type']=='Household', 'Item_Type'] =4
df.loc[df['Item_Type']=='Baking Goods', 'Item_Type'] =5
df.loc[df['Item_Type']=='Snack Foods', 'Item_Type'] =6
df.loc[df['Item_Type']=='Frozen Foods', 'Item_Type'] =7
df.loc[df['Item_Type']=='Breakfast', 'Item_Type'] =8
df.loc[df['Item_Type']=='Health and Hygiene', 'Item_Type'] =9
df.loc[df['Item_Type']=='Hard Drinks', 'Item_Type'] =10
df.loc[df['Item_Type']=='Canned', 'Item_Type'] =11
df.loc[df['Item_Type']=='Breads', 'Item_Type'] =12
df.loc[df['Item_Type']=='Starchy Foods', 'Item_Type'] =13
df.loc[df['Item_Type']=='Others', 'Item_Type'] =14
df.loc[df['Item_Type']=='Seafood', 'Item_Type'] =15

In [28]:
df['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [29]:
df.loc[df['Outlet_Size']=='Small', 'Outlet_Size'] = 0
df.loc[df['Outlet_Size']=='Medium', 'Outlet_Size'] =1
df.loc[df['Outlet_Size']=='High', 'Outlet_Size'] =2

In [30]:
df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [31]:
df.loc[df['Outlet_Location_Type']=='Tier 1', 'Outlet_Location_Type'] = 0
df.loc[df['Outlet_Location_Type']=='Tier 2', 'Outlet_Location_Type'] =1
df.loc[df['Outlet_Location_Type']=='Tier 3', 'Outlet_Location_Type'] =2

In [32]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [33]:
df.loc[df['Outlet_Type']=='Supermarket Type1', 'Outlet_Type'] = 0
df.loc[df['Outlet_Type']=='Supermarket Type2', 'Outlet_Type'] =1
df.loc[df['Outlet_Type']=='Supermarket Type3', 'Outlet_Type'] =2
df.loc[df['Outlet_Type']=='Grocery Store', 'Outlet_Type'] =3

In [34]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,0,249.8092,OUT049,1999,1,0,0,3735.1380
1,DRC01,5.920,0,0.019278,1,48.2692,OUT018,2009,1,2,1,443.4228
2,FDN15,17.500,1,0.016760,2,141.6180,OUT049,1999,1,0,0,2097.2700
3,FDX07,19.200,0,0.000000,3,182.0950,OUT010,1998,1,2,3,732.3800
4,NCD19,8.930,1,0.000000,4,53.8614,OUT013,1987,2,2,0,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,6,214.5218,OUT013,1987,2,2,0,2778.3834
8519,FDS36,8.380,0,0.046982,5,108.1570,OUT045,2002,1,1,0,549.2850
8520,NCJ29,10.600,1,0.035186,9,85.1224,OUT035,2004,0,1,0,1193.1136
8521,FDN46,7.210,0,0.145221,6,103.1332,OUT018,2009,1,2,1,1845.5976
8522,DRG01,14.800,1,0.044878,1,75.4670,OUT046,1997,0,0,0,765.6700

In [35]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,1,0.016047,0,249.8092,OUT049,1999,1,0,0,3735.1380
1,DRC01,5.920,0,0.019278,1,48.2692,OUT018,2009,1,2,1,443.4228
2,FDN15,17.500,1,0.016760,2,141.6180,OUT049,1999,1,0,0,2097.2700
3,FDX07,19.200,0,0.000000,3,182.0950,OUT010,1998,1,2,3,732.3800
4,NCD19,8.930,1,0.000000,4,53.8614,OUT013,1987,2,2,0,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,1,0.056783,6,214.5218,OUT013,1987,2,2,0,2778.3834
8519,FDS36,8.380,0,0.046982,5,108.1570,OUT045,2002,1,1,0,549.2850
8520,NCJ29,10.600,1,0.035186,9,85.1224,OUT035,2004,0,1,0,1193.1136
8521,FDN46,7.210,0,0.145221,6,103.1332,OUT018,2009,1,2,1,1845.5976
8522,DRG01,14.800,1,0.044878,1,75.4670,OUT046,1997,0,0,0,765.6700

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [37]:
df['Item_Fat_Content'].astype(int)

0       1
1       0
2       1
3       0
4       1
       ..
8518    1
8519    0
8520    1
8521    0
8522    1
Name: Item_Fat_Content, Length: 8523, dtype: int32

In [38]:
df['Item_Type'].astype(int)

0       0
1       1
2       2
3       3
4       4
       ..
8518    6
8519    5
8520    9
8521    6
8522    1
Name: Item_Type, Length: 8523, dtype: int32

In [39]:
df['Outlet_Size'].astype(int)

0       1
1       1
2       1
3       1
4       2
       ..
8518    2
8519    1
8520    0
8521    1
8522    0
Name: Outlet_Size, Length: 8523, dtype: int32

In [40]:
df['Outlet_Location_Type'].astype(int)

0       0
1       2
2       0
3       2
4       2
       ..
8518    2
8519    1
8520    1
8521    2
8522    0
Name: Outlet_Location_Type, Length: 8523, dtype: int32

In [41]:
df['Outlet_Type'].astype(int)

0       0
1       1
2       0
3       3
4       0
       ..
8518    0
8519    0
8520    0
8521    1
8522    0
Name: Outlet_Type, Length: 8523, dtype: int32

In [42]:
df['Item_Fat_Content'] = pd.to_numeric(df['Item_Fat_Content'])
df['Item_Type'] = pd.to_numeric(df['Item_Type'])
df['Outlet_Size'] = pd.to_numeric(df['Outlet_Size'])
df['Outlet_Location_Type'] = pd.to_numeric(df['Outlet_Location_Type'])
df['Outlet_Type'] = pd.to_numeric(df['Outlet_Type'])

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   int64
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   int64
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   int64
 9   Outlet_Location_Type       8523 non-null   int64
 10  Outlet_Type                8523 non-null   int64
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(6), object(2)
memory usage: 799.2+ KB

In [44]:
df1=df[['Item_Type','Item_Weight','Item_MRP','Item_Visibility','Item_Fat_Content','Outlet_Establishment_Year','Outlet_Size','Outlet_Location_Type','Outlet_Type']]

In [45]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from xgboost import XGBRegressor

C:\Users\jpinf\Anaconda3\lib\site-packages\dask\dataframe\utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [46]:
model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [47]:
df1

,Item_Type,Item_Weight,Item_MRP,Item_Visibility,Item_Fat_Content,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0,9.300,249.8092,0.016047,1,1999,1,0,0
1,1,5.920,48.2692,0.019278,0,2009,1,2,1
2,2,17.500,141.6180,0.016760,1,1999,1,0,0
3,3,19.200,182.0950,0.000000,0,1998,1,2,3
4,4,8.930,53.8614,0.000000,1,1987,2,2,0
...,...,...,...,...,...,...,...,...,...
8518,6,6.865,214.5218,0.056783,1,1987,2,2,0
8519,5,8.380,108.1570,0.046982,0,2002,1,1,0
8520,9,10.600,85.1224,0.035186,1,2004,0,1,0
8521,6,7.210,103.1332,0.145221,0,2009,1,2,1
8522,1,14.800,75.4670,0.044878,1,1997,0,0,0

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Type                  8523 non-null   int64
 1   Item_Weight                8523 non-null   float64
 2   Item_MRP                   8523 non-null   float64
 3   Item_Visibility            8523 non-null   float64
 4   Item_Fat_Content           8523 non-null   int64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                8523 non-null   int64
 7   Outlet_Location_Type       8523 non-null   int64
 8   Outlet_Type                8523 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 599.4 KB

In [49]:
df1

,Item_Type,Item_Weight,Item_MRP,Item_Visibility,Item_Fat_Content,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0,9.300,249.8092,0.016047,1,1999,1,0,0
1,1,5.920,48.2692,0.019278,0,2009,1,2,1
2,2,17.500,141.6180,0.016760,1,1999,1,0,0
3,3,19.200,182.0950,0.000000,0,1998,1,2,3
4,4,8.930,53.8614,0.000000,1,1987,2,2,0
...,...,...,...,...,...,...,...,...,...
8518,6,6.865,214.5218,0.056783,1,1987,2,2,0
8519,5,8.380,108.1570,0.046982,0,2002,1,1,0
8520,9,10.600,85.1224,0.035186,1,2004,0,1,0
8521,6,7.210,103.1332,0.145221,0,2009,1,2,1
8522,1,14.800,75.4670,0.044878,1,1997,0,0,0

In [50]:
df2=np.cbrt(df['Item_Outlet_Sales'])

In [51]:
#df2=df['Item_Outlet_Sales']

In [52]:
model.fit(df1, df2)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.100000001, max_delta_step=0, max_depth=7,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=1000, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=0.7, tree_method=None,
             validate_parameters=False, verbosity=None)

In [53]:
print(model.score(df1, df2))

0.984230622980631

In [54]:

int_features=[[1,14.800,75.4670,0.044878,1,1997,0,0,0]]
df = pd.DataFrame(int_features,columns=['Item_Type','Item_Weight','Item_MRP','Item_Visibility','Item_Fat_Content','Outlet_Establishment_Year','Outlet_Size','Outlet_Location_Type','Outlet_Type'])

In [55]:
prediction = model.predict(df)

In [56]:
prediction

array([9.672106], dtype=float32)

In [68]:
import pickle

pickle.dump(model,open('xgbm.pkl','wb'))
sales = pickle.load(open('xgbm.pkl','rb'))

In [56]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=15, random_state=0)
regressor.fit(df1,df2)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=15,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [57]:
print(regressor.score(df1,df2))

0.925363567821396

In [58]:
df1

,Item_Type,Item_Weight,Item_MRP,Item_Visibility,Item_Fat_Content,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0,9.300,249.8092,0.016047,1,1999,1,0,0
1,1,5.920,48.2692,0.019278,0,2009,1,2,1
2,2,17.500,141.6180,0.016760,1,1999,1,0,0
3,3,19.200,182.0950,0.000000,0,1998,1,2,3
4,4,8.930,53.8614,0.000000,1,1987,2,2,0
...,...,...,...,...,...,...,...,...,...
8518,6,6.865,214.5218,0.056783,1,1987,2,2,0
8519,5,8.380,108.1570,0.046982,0,2002,1,1,0
8520,9,10.600,85.1224,0.035186,1,2004,0,1,0
8521,6,7.210,103.1332,0.145221,0,2009,1,2,1
8522,1,14.800,75.4670,0.044878,1,1997,0,0,0

In [85]:
predictionss=regressor.predict([[1,14.800,75.4670,0.044878,1,1997,0,0,0]])
pred=format(float(predictionss[0]))

In [86]:
pred

'926.8823733333334'

In [61]:
float(pred) * float(pred) * float(pred)

232129628.90799695

In [62]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [63]:
ridge = Ridge()

In [64]:
ridge.fit(df1,df2)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [65]:
print(ridge.score(df1,df2))

0.4347701305677705

In [66]:
predictionss=ridge.predict([[1,5.920,48.2692,0.019278,1,2009,1,2,1]])
pred=format(float(predictionss[0]))

In [67]:
pred

'542.3676344253909'

In [68]:
from sklearn.kernel_ridge import KernelRidge
from sklearn.linear_model import ElasticNet, Lasso, BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

In [69]:
lasso = make_pipeline(RobustScaler(), Lasso(alpha=0.0005, random_state=1))

In [70]:
lasso.fit(df1,df2)

Pipeline(memory=None,
         steps=[('robustscaler',
                 RobustScaler(copy=True, quantile_range=(25.0, 75.0),
                              with_centering=True, with_scaling=True)),
                ('lasso',
                 Lasso(alpha=0.0005, copy_X=True, fit_intercept=True,
                       max_iter=1000, normalize=False, positive=False,
                       precompute=False, random_state=1, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [71]:
print(lasso.score(df1,df2))

0.4347772941057696

In [72]:
predictionss=lasso.predict([[1,5.920,48.2692,0.019278,1,2009,1,2,1]])
pred=format(float(predictionss[0]))

In [73]:
pred

'546.6801495407287'

In [74]:
import pickle

pickle.dump(regressor,open('sales.pkl','wb'))
sales = pickle.load(open('sales.pkl','rb'))

In [75]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(df1,df2)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [76]:
print(ridge_regressor.score(df1,df2))

-1645815.0580233363

In [87]:
predictionss=ridge_regressor.predict([[6,7.210,103.1332,0.145221,0,2009,1,2,1]])
pred=format(float(predictionss[0]))

In [88]:
pred

'1221.2537950802798'

In [89]:
df1

,Item_Type,Item_Weight,Item_MRP,Item_Visibility,Item_Fat_Content,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,0,9.300,249.8092,0.016047,1,1999,1,0,0
1,1,5.920,48.2692,0.019278,0,2009,1,2,1
2,2,17.500,141.6180,0.016760,1,1999,1,0,0
3,3,19.200,182.0950,0.000000,0,1998,1,2,3
4,4,8.930,53.8614,0.000000,1,1987,2,2,0
...,...,...,...,...,...,...,...,...,...
8518,6,6.865,214.5218,0.056783,1,1987,2,2,0
8519,5,8.380,108.1570,0.046982,0,2002,1,1,0
8520,9,10.600,85.1224,0.035186,1,2004,0,1,0
8521,6,7.210,103.1332,0.145221,0,2009,1,2,1
8522,1,14.800,75.4670,0.044878,1,1997,0,0,0

In [67]:
df2

0       15.515611
1        7.625576
2       12.800240
3        9.013888
4        9.982319
          ...
8518    14.058233
8519     8.189661
8520    10.606219
8521    12.266265
8522     9.148444
Name: Item_Outlet_Sales, Length: 8523, dtype: float64